<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../css/iniciar.css">
    <title>Iniciar sesión</title>
</head>
<body>
    <form action="/iniciar" method="post">
        <div class="container">
            <br><br>
            <div class="logo">
                <img src="../logo.png" alt="">
            </div>
            <p>Iniciar sesión</p>
            <input type="email" name="correo_cuenta" id="mail" placeholder="Correo electrónico" required>
            <input type="password" name="contra" id="pass" placeholder="Contraseña" required> 
            <button type="submit">Iniciar sesión</button>
            <br>
            <pre>2020 - 2021</pre>
        </div>
    </form>
</body>
</html>